{{ 'section-health-showcase.css' | asset_url | stylesheet_tag }}

<div class="health_supplement_main_container container">
  <div class="health_supplement_conatiner">
    {% if section.settings.featured_desktop_image != blank or section.settings.featured_mobile_image != blank %}
      <div class="health_supplement_image_container">
        {% assign featured_mobile_image = section.settings.featured_mobile_image | default: section.settings.featured_desktop_image %}
        {% render 'image-1', mobileSrc: featured_mobile_image, desktopSrc: section.settings.featured_desktop_image %}
      </div>
    {% endif %}
    <div class="health_supplement_content_container {% if section.settings.flip_mobile == true %} mobile_screen_reverse {% endif %} {% if section.settings.flip == true %} desktop_reverse {% endif %}">
      <div class="health_supplement_content">
        {% if section.settings.heading_text != blank %}
          <div class="health_supplement_heading">
            <div>{{ section.settings.heading_text }}</div>
          </div>
        {% endif %}
        {% if section.settings.health_description != blank %}
          <div class="health_supplement_description">
            <p>{{ section.settings.health_description }}</p>
          </div>
        {% endif %}
      </div>
      {% if section.blocks.size > 0 %}
        <div class="health_supplement_blocks" data-flickity='{ "prevNextButtons" : true, "contain": true, "pageDots": false, "wrapAround": false, "cellAlign": "center", "groupCells": true, "bgLazyLoad": 1 }'>
          {% for block in section.blocks %}
            <div class="health_supplement_block">
              {% if block.settings.health_block_desktop_image != blank or block.settings.health_block_mobile_image != blank %}
                <div class="health_supplement_block_image_container">
                  {% assign health_block_mobile_image = block.settings.health_block_mobile_image | default: block.settings.health_block_desktop_image %}
                  {% render 'image-1', mobileSrc: health_block_mobile_image, desktopSrc: block.settings.health_block_desktop_image %}
                  {%- if block.settings.button_text != blank -%}
                    <div class="health_supplement_block_button_main_container {{ section.settings.content_position }}">
                      <div class="health_supplement_block_button_container">
                        {% assign button_content_url = block.settings.button_url | escape %}
                        {% assign button_content_label = block.settings.button_text | escape %}
                        {%- render 'button', type: 'link', href: button_content_url, styles: 'medium', class: 'images-with-text__button', value: button_content_label -%}
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Health Supplement",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "SPACING AND ORDER"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 25
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 25
      },
      {
        "type": "checkbox",
        "id": "flip",
        "label": "t:sections.images_with_text.settings.flip.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "flip_mobile",
        "label": "Flip columns left/right on mobile",
        "default": false
      }, {
        "type": "header",
        "content": "MEDIA"
      }, {
        "type": "image_picker",
        "id": "featured_desktop_image",
        "label": "Featured Desktop Image",
        "info": "Featured image for desktop."
      }, {
        "type": "image_picker",
        "id": "featured_mobile_image",
        "label": "Featured Mobile Image",
        "info": "Featured image for mobile."
      }, {
        "type": "header",
        "content": "TEXT CONTENT"
      }, {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text",
        "default": "Hair-Growing Supplement"
      }, {
        "type": "textarea",
        "id": "health_description",
        "label": "Health Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do \n eiusmod tempo"
      }, {
        "type": "header",
        "content": "ALINGMENT AND POSITIONS"
      }, {
        "type": "select",
        "id": "content_position",
        "label": "Content Position",
        "options": [
          {
            "value": "align-left",
            "label": "Top"
          }, {
            "value": "align-center",
            "label": "Center"
          }, {
            "value": "align-right",
            "label": "Bottom"
          }
        ],
        "default": "align-right"
      }, {
        "type": "range",
        "id": "block_border_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Block Image Rounding",
        "default": 4
      }, {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Button Rounding",
        "default": 4
      }
    ],
    "blocks": [
      {
        "name": "Health Supplement Block",
        "type": "health_supplement_block",
        "settings": [
          {
            "type": "header",
            "content": "MEDIA"
          },
          {
            "type": "image_picker",
            "id": "health_block_desktop_image",
            "label": "Desktop Image",
            "info": "Image for desktop."
          },
          {
            "type": "image_picker",
            "id": "health_block_mobile_image",
            "label": "Mobile Image",
            "info": "Image for mobile."
          },
          {
            "type": "header",
            "content": "TEXT CONTENT"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Cipla Health"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button Link",
            "default": "/collections"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Health Supplement"
      }
    ]
  }
{% endschema %}

{% style %}
  .health_supplement_main_container {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .health_supplement_block_image_container picture img {
    border-radius: {{ section.settings.block_border_radius }}px;
  }

  .health_supplement_block_button_container a {
    border-radius: {{ section.settings.border_radius }}px;
  }
{% endstyle %}