{{ 'section-custom-collection.css' | asset_url | stylesheet_tag }}

<section class="custom_collection_main_container">
  <div class="custom_collection_container container">
    <div class="custom_collection_content_block">
      <div class="custom_collection_content_block_content">
        {% if section.settings.heading_text != blank %}
          <div class="custom_collection_heading">
            {{ section.settings.heading_text }}
          </div>
        {% endif %}
        {% if section.settings.collection_description %}
          <div class="custom_collection_description">
            <p>{{ section.settings.collection_description }}</p>
          </div>
        {% endif %}
      </div>
      <div class="custom_collection_button_container hide_small">
        {%- if section.settings.button_text != blank -%}
          {% assign button_url = section.settings.button_url | escape %}
          {% assign button_label = section.settings.button_text | escape %}

          {%- render 'button', type: 'link', href: button_url, styles: 'medium', class: 'images-with-text__button', value: button_label -%}
        {%- endif -%}
      </div>
    </div>
    {% if section.settings.desktop_image != blank or section.settings.mobile_image != blank %}
      <div class="custom_collection_image_container">
        {% assign mobile_image = section.settings.mobile_image | default: section.settings.desktop_image %}
        {% render 'image-1', mobileSrc: mobile_image, desktopSrc: section.settings.desktop_image %}
      </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="custom_collection_blocks" data-flickity='{ "prevNextButtons" : true, "contain": true, "pageDots": false, "wrapAround": false, "cellAlign": "center", "groupCells": true, "bgLazyLoad": 1 }'>
        {% for block in section.blocks %}
          <div class="custom_collection_block">
            {% if block.settings.collection_block_desktop_image != blank or block.settings.collection_block_mobile_image != blank %}
              <div class="custom_collection_block_image_container">
                {% assign collection_block_mobile_image = block.settings.collection_block_mobile_image | default: block.settings.collection_block_desktop_image %}
                {% render 'image-1', mobileSrc: collection_block_mobile_image, desktopSrc: block.settings.collection_block_desktop_image %}
                {%- if block.settings.button_text != blank -%}
                  <div class="custom_collection_block_button_main_container {{ section.settings.content_position }}">
                    <div class="custom_collection_block_button_container">
                      {% assign button_content_url = block.settings.button_url | escape %}
                      {% assign button_content_label = block.settings.button_text | escape %}
                      {%- render 'button-1', type: 'link', href: button_content_url, styles: 'medium', class: 'images-with-text__button', value: button_content_label -%}
                    </div>
                  </div>
                {%- endif -%}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="custom_collection_button_container hide_large mobile_center">
      {%- if section.settings.button_text != blank -%}
        {% assign button_url = section.settings.button_url | escape %}
        {% assign button_label = section.settings.button_text | escape %}
        {%- render 'button', type: 'link', href: button_url, styles: 'medium', class: 'images-with-text__button', value: button_label -%}
      {%- endif -%}
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Custom Collection",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 35
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 25
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image",
        "info": "Image for desktop."
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image",
        "info": "Image for mobile."
      }, {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text",
        "default": "About Cipla"
      }, {
        "type": "textarea",
        "id": "collection_description",
        "label": "Collection Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Explore More"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button Link",
        "default": "/collections"
      }, {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Border Radius",
        "default": 4
      }, {
        "type": "range",
        "id": "block_border_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Block Image Rounding",
        "default": 4
      }, {
        "type": "select",
        "id": "content_position",
        "label": "Content Position",
        "options": [
          {
            "value": "align-left",
            "label": "Top"
          }, {
            "value": "align-center",
            "label": "Center"
          }, {
            "value": "align-right",
            "label": "Bottom"
          }
        ],
        "default": "align-right"
      }
    ],
    "blocks": [
      {
        "name": "Collection Block",
        "type": "collection_block",
        "settings": [
          {
            "type": "image_picker",
            "id": "collection_block_desktop_image",
            "label": "Desktop Image",
            "info": "Collection Block Image for desktop."
          }, {
            "type": "image_picker",
            "id": "collection_block_mobile_image",
            "label": "Mobile Image",
            "info": "Collection Block Image for mobile."
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Hair Fall"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button Link",
            "default": "/collections"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Collection"
      }
    ]
  }
{% endschema %}

{% style %}
  section {
    margin-top: {{ section.settings.padding_top }}px;
    margin-bottom: {{ section.settings.padding_bottom }}px;
  }

  .custom_collection_button_container a {
    border-radius: {{ section.settings.border_radius }}px;
  }

  .custom_collection_block_image_container picture img {
    border-radius: {{ section.settings.block_border_radius }}px;
  }
{% endstyle %}