{{ 'secure-rational.css' | asset_url | stylesheet_tag }}

<div class="secure_rational_section_main_container">
  <div class="secure_rational_main_container desktop_container">
    {% if section.settings.feature_desktop_image != blank or section.settings.feature_mobile_image != blank %}
      <div class="feature_image_container">
        {% assign feature_mobile_image = section.settings.feature_mobile_image | default: section.settings.feature_desktop_image %}
        {% render 'image-1', mobileSrc: feature_mobile_image, desktopSrc: section.settings.feature_desktop_image %}
      </div>
    {% endif %}
    {% if section.settings.product_desktop_image != blank or section.settings.product_mobile_image != blank %}
      <div class="secure_product_image_container mobile_container {% if section.settings.flip == true %} reverse {% endif %} {% if section.settings.mobile_flip == true %} mobile-reverse {% endif %}">
        {% assign product_mobile_image = section.settings.product_mobile_image | default: section.settings.product_desktop_image %}
        {% render 'image-1', mobileSrc: product_mobile_image, desktopSrc: section.settings.product_desktop_image %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Secure Rational",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Top",
        "default": 25
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 25
      }, {
        "type": "checkbox",
        "id": "flip",
        "label": "t:sections.images_with_text.settings.flip.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "mobile_flip",
        "label": "Mobile flip columns left/right",
        "default": false
      }, {
        "type": "image_picker",
        "id": "feature_desktop_image",
        "label": "Features Desktop Image",
        "info": "Textual image for desktop."
      }, {
        "type": "image_picker",
        "id": "feature_mobile_image",
        "label": "Features Mobile Image",
        "info": "Textual image for mobile."
      }, {
        "type": "image_picker",
        "id": "product_desktop_image",
        "label": "Desktop Image",
        "info": "Product image for desktop."
      }, {
        "type": "image_picker",
        "id": "product_mobile_image",
        "label": "Mobile Image",
        "info": "Product image for mobile."
      }
    ],
    "presets": [
      {
        "name": "Secure Rational"
      }
    ]
  }
{% endschema %}

{% style %}
  .secure_rational_main_container {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .secure_rational_section_main_container {
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }
{% endstyle %}