{{ 'section-custom-products.css' | asset_url | stylesheet_tag }}

<div class="product_list_main_container">
  <div class="product_list_container container">
    <div class="custom_product_content_container">
      <div class="custom_product_content_block_content">
        {% if section.settings.heading_text != blank %}
          <div class="custom_product_heading">
            {{ section.settings.heading_text }}
          </div>
        {% endif %}
        {% if section.settings.product_description %}
          <div class="custom_product_description">
            <p>{{ section.settings.product_description }}</p>
          </div>
        {% endif %}
      </div>
      <div class="custom_product_button_container hide_small">
        {%- if section.settings.button_text != blank -%}
          {% assign button_url = section.settings.button_url | escape %}
          {% assign button_label = section.settings.button_text | escape %}

          {%- render 'button', type: 'link', href: button_url, styles: 'medium', class: '', value: button_label -%}
        {%- endif -%}
      </div>
    </div>
  </div>

  {% if section.settings.product_list != blank %}
    <div class="custom_product_products_container container" data-flickity='{ "prevNextButtons" : true, "contain": true, "pageDots": false, "wrapAround": false, "cellAlign": "center", "groupCells": true, "bgLazyLoad": 1 }'>
      {% for product in section.settings.product_list %}
        <div class="custom_product_card">
          {% render 'custom-product-card', product: product %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Custom Product List",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 25
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 25
      },
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text",
        "default": "Our Top Pick"
      },
      {
        "type": "textarea",
        "id": "product_description",
        "label": "Product Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "View More"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button Link",
        "default": "/collections"
      }, {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Border Radius",
        "default": 4
      }, {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "limit": 10
      }
    ],
    "presets": [
      {
        "name": "Custom Product List"
      }
    ]
  }
{% endschema %}

{% style %}
  .product_list_main_container {
    padding-top: {{ section.settings.padding_top }}
    px;
    padding-bottom: {{ section.settings.padding_bottom }}
    px;
  }
{% endstyle %}