{{ 'section-image-text.css' | asset_url | stylesheet_tag }}

<div class="main_image_text_container">
  <div class="image_text_container container">
    <div class="text_container {{ section.settings.text_alignment }}">
      {% if section.settings.heading_text != blank %}
        <div class="text_heading">
          {{ section.settings.heading_text }}
        </div>
      {% endif %}
      {% if section.settings.description_text %}
        <div class="text_description">
          <p>{{ section.settings.description_text }}</p>
        </div>
      {% endif %}
      <div class="test_button_container {{ section.settings.content_alignment }}">
        {%- if section.settings.button_text != blank -%}
          {% assign button_url = section.settings.button_url | escape %}
          {% assign button_label = section.settings.button_text | escape %}

          {%- render 'button', type: 'link', href: button_url, styles: 'medium', class: 'images-with-text__button', value: button_label -%}
        {%- endif -%}
      </div>
    </div>
    <div class="text_image_container {% if section.settings.flip == true %} reverse_order {% endif %}">
      {% if section.settings.desktop_image != blank or section.settings.mobile_image != blank %}
        {% assign mobile_image = section.settings.mobile_image | default: section.settings.desktop_image %}
        {% render 'image-1', class: 'text_image', mobileSrc: mobile_image, desktopSrc: section.settings.desktop_image %}
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Image Text",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 25
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 25
      },
      {
        "type": "checkbox",
        "id": "flip",
        "label": "Flip Column Left/Right on Mobile",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image",
        "info": "Image for desktop."
      }, {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image",
        "info": "Image for mobile."
      }, {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text",
        "default": "The beginning of Doctors Cipla's 85-year history"
      }, {
        "type": "textarea",
        "id": "description_text",
        "label": "Description Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Learn More"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button Link",
        "default": "/collections"
      }, {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Border Radius",
        "default": 8
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "select",
        "id": "content_alignment",
        "label": "Content Alignment",
        "options": [
          {
            "value": "justify-left",
            "label": "Left"
          }, {
            "value": "justify-center",
            "label": "Center"
          }, {
            "value": "justify-right",
            "label": "Right"
          }
        ],
        "default": "justify-left"
      }
    ],
    "presets": [
      {
        "name": "Custom Image Text"
      }
    ]
  }
{% endschema %}

{% style %}
  .main_image_text_container {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .test_button_container a {
    border-radius: {{ section.settings.border_radius }}px;
  }
{% endstyle %}