{{ 'section-custom-testimonial.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-custom-testimonial.js' | asset_url }}" defer></script>

<div class="testimonial_main_container">
  <div class="testimonial_container container">
    {% if section.settings.testimonial_heading_text != blank %}
      <div class="testimonial_heading {{ section.settings.heading_alignment }}">
        {{ section.settings.testimonial_heading_text }}
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="card_container {{ section.settings.text_alignment }}" data-flickity='{ "prevNextButtons" : true, "pageDots": true, "draggable": true, "cellAlign": "center", "initialIndex": 1, "wrapAround": true, "bgLazyLoad": 1, "autoPlay": 2500, "friction": 0.175 }'>
        {% for block in section.blocks %}
          <div class="card--wrapper">
            <div class="card card-{{ forloop.index }}">
              {% if block.settings.vendor_name != blank %}
                <div class="vendor_name">
                  {{ block.settings.vendor_name }}
                </div>
              {% endif %}

              {% if block.settings.testimonial_title != blank %}
                <div class="testimonial_title">
                  {{ block.settings.testimonial_title }}
                </div>
              {% endif %}

              <div class="testimonial_reviews__stars">
                {%- for i in (1..5) -%}
                  {%- unless i > block.settings.stars_count -%}
                    {%- render 'icon-yellow-star' -%}
                  {%- else -%}
                    {%- render 'icon-star-empty' -%}
                  {%- endunless -%}
                {%- endfor -%}
              </div>

              {% if block.settings.testimonial_description != blank %}
                <div class="testimonial_description">
                  {{ block.settings.testimonial_description }}
                </div>
              {% endif %}

              <div class="testimonial_image_block">
                {% if block.settings.desktop_image != blank or block.settings.mobile_image != blank %}
                  {% assign mobile_image = block.settings.mobile_image | default: block.settings.desktop_image %}
                  {% render 'image-1', class: '', mobileSrc: mobile_image, desktopSrc: block.settings.desktop_image %}
                {% endif %}
              </div>

              {% if block.settings.author_name != blank %}
                <div class="author_name">
                  {{ block.settings.author_name }}
                </div>
              {% endif %}

              {% if block.settings.author_address != blank %}
                <div class="author_address">
                  {{ block.settings.author_address }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Custom Testimonial",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "SPACING AND ORDER"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Top",
        "default": 25
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 25
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 25
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 30
      }, {
        "type": "header",
        "content": "TEXT CONTENT"
      }, {
        "type": "text",
        "id": "testimonial_heading_text",
        "label": "Heading Text",
        "default": "Our Client's Voice"
      }, {
        "type": "header",
        "content": "ALINGMENT AND POSITIONS"
      }, {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }
    ],
    "blocks": [
      {
        "name": "Testimonial Block",
        "type": "testimonial_block",
        "settings": [
          {
            "type": "header",
            "content": "TEXT CONTENT"
          },
          {
            "type": "text",
            "id": "vendor_name",
            "label": "Vendor Name",
            "default": "Cipla Health"
          },
          {
            "type": "text",
            "id": "testimonial_title",
            "label": "Testimonial Title",
            "default": "GROWTH SERUM"
          },
          {
            "type": "textarea",
            "id": "testimonial_description",
            "label": "Testimonial Description",
            "default": "Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus. Vivamus sed libero ornare, tristique quam in, gravida enim. Nullam ut molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula molestie, nec molestie mi blandit. Suspendisse cursus tellus sed augue ultrices, quis tristique nulla sodales. Suspendisse eget lorem eu turpis vestibulum pretium. Suspendisse potenti. Quisque malesuada enim sapien, vitae placerat ante feugiat eget. Quisque vulputate odio neque, eget efficitur libero condimentum id. Curabitur id nibh id sem dignissim finibus ac sit amet magna."
          }, {
            "type": "header",
            "content": "MEDIA"
          }, {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Featured desktop Image",
            "info": "Image for desktop."
          }, {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Featured mobile Image",
            "info": "Image for mobile."
          }, {
            "type": "header",
            "content": "TEXT CONTENT"
          }, {
            "type": "text",
            "id": "author_name",
            "label": "Author Name",
            "default": "Mary steffy gogai"
          }, {
            "type": "textarea",
            "id": "author_address",
            "label": "Author Address",
            "default": "970 Ersel Street, Carrollton, TX 75006"
          }, {
            "type": "range",
            "id": "stars_count",
            "min": 1,
            "max": 5,
            "step": 1,
            "label": "t:sections.testimonials.blocks.review.settings.stars_count.label",
            "default": 4
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Testimonial"
      }
    ]
  }
{% endschema %}


{% style %}
  .testimonial_main_container {
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }

  .testimonial_container {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{% endstyle %}