{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div class="image_banner_container container">
  {% if section.settings.desktop_image != blank or section.settings.mobile_image != blank %}
    <div class="image_container">
      {% assign mobile_image = section.settings.mobile_image | default: section.settings.desktop_image %}
      {% render 'image-1', class: 'banner_image', mobileSrc: mobile_image, desktopSrc: section.settings.desktop_image %}
    </div>
  {% endif %}
  <div class="content_container {% if section.settings.flip == true %} reverse {% endif %}">
    {% if section.settings.banner_heading != blank %}
      <div class="banner_heading">
        {{ section.settings.banner_heading }}
      </div>
    {% endif %}
    {% if section.settings.banner_description %}
      <div class="banner_description">
        <p>{{ section.settings.banner_description }}</p>
      </div>
    {% endif %}
    <div class="button_container">
      {%- if section.settings.button_text_1 != blank -%}
        {% assign button_url_1 = section.settings.button_url_1 | escape %}
        {% assign button_label_1 = section.settings.button_text_1 | escape %}

        {%- render 'button', type: 'link', href: button_url_1, styles: 'medium', class: 'images-with-text__button', value: button_label_1 -%}
      {%- endif -%}
      {%- if section.settings.button_text_2 != blank -%}
        {% assign button_url_2 = section.settings.button_url_2 | escape %}
        {% assign button_label_2 = section.settings.button_text_2 | escape %}
        {%- render 'button', type: 'link', href: button_url_2, styles: 'medium', class: 'images-with-text__button', value: button_label_2 -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image Banner",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "SPACING AND ORDER"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 25
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 25
      },
      {
        "type": "checkbox",
        "id": "flip",
        "label": "t:sections.images_with_text.settings.flip.label",
        "default": false
      }, {
        "type": "header",
        "content": "MEDIA"
      }, {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image",
        "info": "Image for desktop."
      }, {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image",
        "info": "Image for mobile."
      }, {
        "type": "header",
        "content": "TEXT CONTENT"
      }, {
        "type": "text",
        "id": "banner_heading",
        "label": "Banner Heading",
        "default": "TUGAIN"
      }, {
        "type": "textarea",
        "id": "banner_description",
        "label": "Banner Description",
        "default": "Holistic Anti-dandruff \n solution with Scalp Detox"
      }, {
        "type": "text",
        "id": "button_text_1",
        "label": "Primary Button Text",
        "default": "Buy Now"
      }, {
        "type": "url",
        "id": "button_url_1",
        "label": "Primary Button Link",
        "default": "/collections"
      }, {
        "type": "text",
        "id": "button_text_2",
        "label": "Secondary Button Text",
        "default": "Self Evaluation Test"
      }, {
        "type": "url",
        "id": "button_url_2",
        "label": "Secondary Button Link",
        "default": "/collections"
      }, {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Button Rounding",
        "default": 8
      }
    ],
    "presets": [
      {
        "name": "Image Banner"
      }
    ]
  }
{% endschema %}

{% style %}
  .image_banner_container {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .button_container a {
    border-radius: {{ section.settings.border_radius }}px;
  }
{% endstyle %}